<html>
  <head></head>
  <body>
    <b>Контактна форма</b>
    <b>Име:</b> <p><%= @contact_info.name %></p>
    <b>Email:</b> <p><%= @contact_info.email %></p>
    <b>Съобщение:</b> <p><%= @contact_info.message  %></p>
  </body>
</html>
