<footer itemscope="" itemtype="http://schema.org/WPFooter">
  <div class='row'>
    <div class='small-12'>
      <%= image_tag 'logo.png', class: 'float-left' %>
      <%= content_tag :ul, class: 'float-left upper' do %>
        <%= render partial: 'layouts/shared/menu_list' %>
      <% end %>
      <ul class='social-list float-right'>
        <li>
          <a href="https://www.facebook.com/Metroreklama" class="social facebook"></a>
          <a href="https://www.instagram.com/metroreklama/" class="social instagram"></a>
          <a href="https://www.linkedin.com/company/metroreklama/" class="social linkedin"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>