<nav id="main-menu" itemscope itemtype="http://schema.org/SiteNavigationElement" class="fixed <%= 'visible-menu' if @visible_menu %>">
  <div class='row'>
    <div class="top-bar-section big small-12">
      <!-- Right Nav Section -->
      <ul class="float-left">
        <li class="">
          <a href="/" class="logo">metroreklama.com</a>
        </li>
      </ul>
      <ul class="float-right">
        <li>
          <div class='float-left' style='padding-right:15px;line-height:60px;'>
            <% if locale.to_s == 'en' %>
              <%= link_to 'BG', '?locale=bg', class: 'strong font-24' %>
            <% else %>
               <%= link_to 'EN', '?locale=en', class: 'strong font-24' %>
            <% end %>
          </div>
          <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="dropdown-menu">
  <div class="text-center menu">
    <ul class="small-block-grid-1">
      <%= render partial: 'layouts/shared/menu_list' %>
      <li>  
        <ul class='social-list'>
          <li>
            <a href="https://www.facebook.com/Metroreklama" class="social facebook"></a>
            <a href="https://www.instagram.com/metroreklama/" class="social instagram"></a>
            <a href="https://www.linkedin.com/company/metroreklama/" class="social linkedin"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>