<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

<%= favicon_link_tag 'favicon.ico' %>

<%= favicon_link_tag asset_url('app_icons/apple-icon-32x32.png'),  rel: 'apple-touch-icon', type: 'image/png', sizes: '32x32'%>
<%= favicon_link_tag asset_url('app_icons/apple-icon-57x57.png'),  rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57'%>
<%= favicon_link_tag asset_url('app_icons/apple-icon-72x72.png'),  rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
<%= favicon_link_tag asset_url('app_icons/apple-icon-114x114.png'), rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
<%= favicon_link_tag asset_url('app_icons/apple-icon-144x144.png'), rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
<%= favicon_link_tag asset_url('app_icons/android-icon-36x36.png'),  rel: 'icon', type: 'image/png', sizes: '36x36' %>
<%= favicon_link_tag asset_url('app_icons/android-icon-72x72.png'),  rel: 'icon', type: 'image/png', sizes: '72x72' %>
<%= favicon_link_tag asset_url('app_icons/android-icon-96x96.png'),  rel: 'icon', type: 'image/png', sizes: '96x96' %>
<%= favicon_link_tag asset_url('app_icons/android-icon-192x192.png'), rel: 'icon', type: 'image/png', sizes: '192x192' %>

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%= asset_url('app_icons/ms-icon-144x144.png') %>">
<meta name="theme-color" content="#ffffff">

<!--
<link rel="canonical" href="<%#= @page[:url]%>"/>

<title><%#= "#{@page[:title]} | #{@page[:site_name]}"%></title>
<meta name="description" content="<%#= @page[:description]%>"/>
<meta name="keywords" content="<%#= @page[:keywords] %>" />

<meta property="og:site_name"   content="<%#= @page[:site_name]%>"/>
<meta property="og:locale"      content="bg_BG"/>
<meta property="og:image"             content="http://metroreklama.com<%#= @page[:image]%>"/>
<meta property="og:image:secure_url"  content="http://metroreklama.com<%#= @page[:image]%>">
<meta property="og:image:type"        content="image/png">
<meta property="og:title"             content="<%#= @page[:title]%>" />
<meta property="og:description"       content="<%#= @page[:description]%>"/>
<meta property="og:url"               content="<%#= @page[:url]%>" />
<meta property="og:type"              content="article" />

<meta name="twitter:url" content="<%#= @page[:url]%>">
<meta name="twitter:title" content="<%#= @page[:title]%>">
<meta name="twitter:description" content="<%#= @page[:description]%>">
<meta name="twitter:image:src" content="http://metroreklama.com<%#= @page[:image]%>"> -->

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%== meta_data_tags %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "metroreklama",
    "url" : "http://metroreklama.com/",
  }
</script>