<%= content_tag :li, link_to(t('menu.home'), '/') %>
<%= content_tag :li, link_to(t('menu.about_us'), '/about-us') %>
<%= content_tag :li, link_to(t('menu.advertising'), categories_path) %>
<%= content_tag :li, link_to(t('menu.formats'), projects_path) %>
<%= content_tag :li, link_to(t('menu.map'), '/map') %>
<%= content_tag :li, link_to(t('menu.news'), news_index_path ) %>
<%= content_tag :li, link_to(t('menu.contacts'), new_contact_path) %>
<%= content_tag :li, link_to(t('menu.tech'), '/technical') %>