<% partners = Partner.where(show_on_homepage: true) %>
<div class='home-partners-list content-wrapper'>
  <div class='row'>
    <%= content_tag :span, content_tag(:span, raw(t('home.index.our_partners')), class: 'font-16') %>
    <div class="flickity-brands" data-flickity data-equalizer>
      <% partners.each do |partner|%>
        <%#= image_tag(partner.logo(:original)) %>
        <div class="carousel-cell float-left wallpaper" data-equalizer-watch style="background-image:url(<%= partner.logo(:original)%>)">
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){ 
  var flky = new Flickity( '.flickity-brands', {
    autoPlay: true,
    cellAlign: 'left',
    pageDots: false,
    resize: false,
    freeScroll: true,
    prevNextButtons: false,
    contain: false
  });
});
</script>