<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous">
        <span class="show-for-sr"></span>
        <%= image_tag 'svg/arrow-left.svg', width: 20 %>
      </button>
      <button class="orbit-next">
        <span class="show-for-sr"></span>
        <%= image_tag 'svg/arrow.svg', width: 20 %>
      </button>
    </div>
    <ul class="orbit-container">
      <% pictures.each do |picture| %>
        <li class="is-active orbit-slide">
          <figure class="orbit-figure wallpaper" style="background-image:url(<%= picture.data(:original)%>)">
            <%#= image_tag picture.data(:original), class: 'orbit-image' %>
          </figure>
        </li>
      <% end %>
    </ul>
  </div>
  <nav class="small-12 orbit-bullets show-for-large">
    <% pictures.each_with_index do |slide, i| %>
      <button <%= "class=is-active" if i.zero? %> data-slide="<%= i%>">  </button>
    <% end %>
  </nav>
</div>