<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <%#= content_tag :h1,  @partner.title %>
    </div>
  </div>
  <div class='row news-list'>
    <div class='small-12'>
      <div class='new-item small-12 clearfix'>
        <div class='small-12 float-left'>
          <% if @partner.pictures.any? %>
            <%= content_tag :div, render(partial: 'gallery', locals: {pictures: @partner.pictures}), class: 'gallery' %>
          <% else %>
            <%= content_tag :div, image_tag(@partner.picture(:normal)), class: 'image-wrapper' %>
          <% end %>
        </div>
        <div class='small-12 float-left'>
          <%= content_tag :h1,  @partner.name %> 
          <%= content_tag :div, raw( @partner.content), class: 'font-14 description' %>
        </div>
      </div>
    </div>
  </div>
</div>

