<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <%= content_tag :h1, @metum.title %>
      <div class='small-12 medium-6 column'>
        <%= image_tag 'technical/1.jpg'%>
      </div>
      <div class='small-12 medium-6 column'>
        <%= content_tag :p, raw(@metum.general_purpose_text1), class: 'font-14 ' %>
      </div>
    </div>
  </div>
</div>
<div class='home-partners-list content-wrapper'>
  <div class='row'>
    <div class='small-12'>
      <div class='technical'>
        <div class='small-12 medium-6 column'>
          <%= content_tag :p, raw(@metum.general_purpose_text2), class: 'font-14' %>
        </div>
        <div class='small-12 medium-6 column'>
          <%= image_tag 'technical/2.jpg'%>
        </div>
      </div>
    </div>
  </div>
</div>