<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <%= content_tag :h1, @metum.title %>
      <div class='small-12 medium-6 column'>
        <%=raw content_tag :div, raw(@metum.description), class: 'font-18 upper strong' %>
        <%=raw content_tag :div, raw(@metum.general_purpose_text1), class: 'font-14' %>
      </div>
      <div class='small-12 medium-6 text-center'>
        <%= image_tag 'icons/buildings.png', class: 'buildings-img', alt: 'buildings-img' %>
      </div>
      <div class='small-12 ads-types column' data-equalizer>
        <% 4.times do |i| %>
          <div class='small-12 medium-6 large-3 float-left' data-equalizer-watch>
            <div class='small-12 text-left'>
              <%= link_to '/categories/transportna-reklama' do %>
                <%= content_tag :i, '', class: "icon-#{i} font-70 float-left" %>
                <%= content_tag :span, t("ad_types.type_#{i}"), class: 'font-12 strong'%>
              <% end %>
              <%= content_tag :p, t("ad_types.type_desc_#{i}"), class: 'font-12' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='small-12 column'>
        <%= content_tag :div, raw(@metum.general_purpose_text2), class: 'font-14' %>
      </div>
    </div>
  </div>
  <div class='news-list member-wrapper'>
    <div class='row'>
      <div class='column'>
        <%= content_tag :p, t('.team'), class: 'heading font-24' %>
      </div>
      <div class='small-12 team-list column'>
        <div class='small-12 float-left member '>
          <% member = @team.to_a.slice!(0) %>
          <div class='small-12 wallpaper main-block' style="background-image: url(<%= member.avatar(:original)%>)"></div>
          <div class='layer'>
            <%= content_tag :span, member.name, class: 'font-16 strong upper' %> <br>
            <%#= content_tag :span, member.position, class: 'font-12' %>
          </div>
        </div>
        <% @team.each do |member| %>
          <div class='small-12 medium-4 float-left member'>
            <div>
              <div class='small-12 wallpaper' style="background-image: url(<%= member.avatar(:normal)%>)"></div>
              <%#= image_tag member.avatar(:normal) %>
              <div class='layer'>
                <%= content_tag :span, member.name, class: 'font-14 strong' %> <br>
                <%= content_tag :span, member.position, class: 'font-12' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='billboard corp-wrapper'>
    <div class='row'>
      <div class='column small-12'>
        <div class='small-12 column'>
          <%= raw content_tag :div, raw(@metum.general_purpose_text3), class: 'font-14' %>
          <%#= raw content_tag :div, raw(@metum.general_purpose_text3), class: 'font-14' %>
          <%#= raw content_tag :div, raw(@metum.general_purpose_text4), class: 'font-14' %>
        </div>
      </div>
      <div class='column small-12'>
        <div class='small-12 column'>
        </div>
      </div>
      <div class='column small-12'>
        <div class='small-12 column'>
        </div>
      </div>
    </div>
  </div>

<!--   <div class='corp-memo-wrapper'>
    <div class='row'>
      <%= content_tag :p, 'КОРПОРАТИВНИ ЦЕННОСТИ', class: 'font-24 strong small-12 column' %>
      <div class='small-12 medium-6 large-5 column'>
        <div class='small-12'>
          <div class='small-12 item'>
              <p class='strong'>ПОЧТЕНОСТ</p>
              <ul class='font-14'>
                <li>Директна комуникация</li>
                <li>Прозрачност</li>
                <li>Етични бизнес практики</li>
              </ul>
          </div>
        </div>
        <div class='small-12'>
          <div class='small-12 item'>
            <p class='strong'>ОПИТ</p>
            <ul class='font-14'>
              <li>Повишаване на нашата база от знания</li>
              <li>Професоинализъм във всяка дейност</li>
              <li>Съвършенство в ключовите компетенции</li>
            </ul>
          </div>
        </div>
        <div class='small-12'>
          <div class='small-12 item'>
            <p class='strong'>СТОЙНОСТ ЗА КЛИЕНТА</p>
            <ul class='font-14'>
              <li>Познаване на потребностите на клиента</li>
              <li>Иновативни решения</li>
              <li>Високо качество на продуктите и услугите</li>
            </ul>
          </div>
        </div>
      </div>

      <div class='small-12 medium-6 large-5 column'>
        <div class='small-12'>
          <div class='small-12 item'>
              <p class='strong'>ПОСТИГАНЕ НА РЕЗУЛТАТИ</p>
              <ul class='font-14'>
                <li>Разрастване на мрежата от обекти</li>
                <li>Ясни цели</li>
                <li>Високи стандарти</li>
              </ul>
          </div>
        </div>
        <div class='small-12'>
          <div class='small-12 item'>
            <p class='strong'>НЕПРЕКЪСНАТО УСЪВЪРШЕНСТВАНЕ</p>
            <ul class='font-14'>
              <li>Учаща се организация</li>
              <li>Желание за промяна</li>
              <li>Посрещане на предизвикателства</li>
            </ul>
          </div>
        </div>
        <div class='small-12'>
          <div class='small-12 item'>
            <p class='strong'>КОРПОРАТИВНА СОЦИАЛНА ОТГОВОРНОСТ</p>
            <ul class='font-14'>
              <li>Безопасността на първо място</li>
              <li>Устойчиво развитие</li>
              <li>Ангажираност към заинтересованите страни</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <%= render partial: 'layouts/shared/partners' %>
</div>