<div class='home-main-image small-12'>
  <div class='row'>
    <div class='small-12 column image-wrapper'>
      <%= image_tag('bg/cover_the_city.png')%>
    </div>
  </div>
</div>
<div class='home-block-wrapper'>
  <div class='row'>
    <div class='small-12'>
      <%= content_tag :p, raw(t('.desc')), class: 'font-24 column' %>
      <div class='small-12 ads-types column'>
        <div class='small-12 medium-6 large-3 float-left column'>
          <div class='small-12 text-left'>
            <%= link_to '/categories/transportna-reklama' do %>
              <%= content_tag :i, '', class: 'icon-metro font-70 float-left' %>
              <%= content_tag :div, t('ad_types.type_0'), class: 'font-12 strong float-left'%>
            <% end %>
          </div>
        </div>
        <div class='small-12 medium-6 large-3 float-left column'>
          <div class='small-12 text-left'>
            <%= link_to '/categories/targovski-verigi' do %>
              <%= content_tag :i, '', class: 'icon-mall font-70 float-left' %>
              <%= content_tag :div, t('ad_types.type_1'), class: 'font-12 strong float-left'%>
            <% end %>
          </div>
        </div>
        <div class='small-12 medium-6 large-3 float-left column'>
          <div class='small-12 text-left'>
            <%= link_to '/categories/republikanska-patna-mrezha' do %>
              <%= content_tag :i, '', class: 'icon-car font-70 float-left' %>
              <%= content_tag :div, t('ad_types.type_2'), class: 'font-12 strong float-left'%>
            <% end %>
          </div>
        </div>
        <div class='small-12 medium-6 large-3 float-left column'>
          <div class='small-12 text-left'>
            <%= link_to '/categories/gradska-zona' do %>
              <%= content_tag :i, '', class: 'icon-city font-70 float-left' %>
              <%= content_tag :div, t('ad_types.type_3'), class: 'font-12 strong float-left'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
<%= render partial: 'layouts/shared/partners' %>