<div class='small-12 orbit-wrapper'>
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <div class="orbit-wrapper">
      <ul class="orbit-container">
        <% pictures.each do |picture| %>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <%= image_tag picture.data(:normal) %>
            </figure>
          </li>
        <% end %>
      </ul>
      <% if pictures.count > 1 %>
        <nav class="orbit-bullets" style='bottom:-82px;'>
          <% pictures.each_with_index do |picture,i| %>
            <button <%= "class=is-active" if i.zero? %> data-slide="<%= i%>">
              <div style="background-image:url('<%= picture.data(:thumbnail)%>')" class='wallpaper bullet float-left'></div>
            </button>
          <% end %>
        </nav>
      <% end %>
    </div>
  </div>
</div>