<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <%= content_tag :h1, @metum.title %>
      <div class='small-12 medium-6'>
        <%= content_tag :p, @metum.description, class: 'font-18 upper strong' %>
        <%= content_tag :div, raw(@metum.general_purpose_text1), class: 'font-14' %>
      </div>
      <div class='small-12 medium-6 text-center'>
        <%= image_tag 'icons/billboard.png' %>
      </div>
    </div>
  </div>
  <div class='row news-list'>
    <div class='small-12'>
      <% @news.each do |article| %>
        <div class='new-item small-12 clearfix'>
          <div class='small-12 medium-3 large-4 float-left'>
            <%=image_tag article.pictures.first.data(:normal) %>
          </div>
          <div class='small-12 medium-9 large-8 column'>
            <% time = Date.parse(article.created_at.to_s) %>
            <time class="font-10 strong" datetime="<%= l time, format: "%Y-%m-%dT%I:%M" %>"><%= l time, format: "%d.%m.%Y" %></time> <br>
            <%= link_to article.title, article, class: 'font-16 upper title' %>
            <%= content_tag :div, raw(truncate_html(article.description, length: 180)), class: 'font-14' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @news%>
</div>
