<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <%#= content_tag :h1, @news.title %>
    </div>
  </div>
  <div class='row news-list'>
    <div class='small-12'>
      <div class='new-item small-12 clearfix'>
        <div class='small-12 medium-4 large-5 float-left'>
          <%= render partial: 'slider', locals: {pictures: @news.pictures} %>
        </div>
        <div class='small-12 medium-8 large-7 column'>
          <% time = Date.parse(@news.created_at.to_s) %>
          <time class="font-10 strong" datetime="<%= l time, format: "%Y-%m-%dT%I:%M" %>"><%= l time, format: "%d.%m.%Y" %></time> <br>
          <%= content_tag :h1, @news.title %> 
          <%= content_tag :div, raw(@news.description), class: 'font-14' %>
        </div>
      </div>
    </div>
  </div>
</div>

