<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" class='column'>
      <p class='font-16'><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <% @contact.errors.full_messages.each do |message| %>
        <%= content_tag :span, message, class: 'font-14' %> <br>
      <% end %>
    </div>
  <% end %>
  <div class='small-12'>
    <div class='small-12 medium-6 column'>
      <div class='small-12'>
        <%= f.text_field :name, placeholder: t('contacts.new.name') %>
      </div>
      <div class='small-12'>
        <%= f.text_field :email, placeholder: t('contacts.new.email') %>
      </div>
    </div>
    <div class='small-12 medium-6 column'>
      <%= recaptcha_tags %>
    </div>
    <div class='small-12 column'>
      <%= f.text_area :message, placeholder: t('contacts.new.message'), rows: 5, class: 'small-12' %>
    </div>
    <div class='small-6 medium-3 column end'>
      <div class="actions">
        <%= f.submit t('contacts.new.submit'), class: 'button secondary upper font-13 small-12' %>
      </div>
    </div>
  </div>

<% end %>
