<div class='content-wrapper'>
  <div class='billboard contacts column'>
    <div class='row'>
      <%= content_tag :h1, @metum.title %>
      <%= content_tag :div, raw(@metum.general_purpose_text1), class: 'small-12' %>
    </div>
  </div>
  <div class='small-12 column form-wrapper'>
    <div class='row'>
      <div class='small-12 medium-6'>
        <%= image_tag 'bg/map.png', class: 'small-12' %>
      </div>
      <div class='small-12 medium-6'>
        <%= content_tag :p, t('.contact_form'), class: 'strong column' %>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

