<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <div class='small-12 column'>
        <%= content_tag :h1, t('.title') %>
      </div>
      <div class='small-12 medium-8'>
        <%= form_tag("/projects", method: "get", id: 'ad-format-form') do %>
          <div class='small-6 column'>
            <%= select_tag(:partner, options_for_select(Partner.all.collect{ |p| [p.name, p.id] },params[:partner]), include_blank: t('.choose_partner')) %>
          </div>
          <div class='small-6 column'>
            <%= select_tag(:adtype, options_for_select(AdType.all.collect{ |t| [t.name, t.id] },params[:adtype]), include_blank: t('.choose_format')) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='small-12 projects-wrapper column'>
    <div class='row column'>
      <% @projects.each do |project| %>
        <% project.pictures.each do |picture| %>
          <div class="small-12 float-left project">
            <div style="background-image:url('<%= asset_path(picture.data(:normal)) %>')" class='wallpaper'></div>
            <div class='overlay font-14'>
              <div>
                <%= content_tag :span, t('.media'), class: 'label strong' %> <br>
                <%= content_tag :span, picture.project.client %>    
              </div>
              <div>
                <%= content_tag :span, t('.client'), class: 'label strong' %> <br>
                <%= content_tag :span, picture.project.ad_type.name %>  
              </div>
              <div>
                <%= content_tag :span, t('.yaer'), class: 'label strong' %> <br>
                <%= content_tag :span, picture.project.year %>  
              </div>
            </div>
            <%#= image_tag project.picture(:normal) %>
            <%#= link_to project.client, project, class: 'upper font-24' %>
          </div>
        <% end %>   
      <% end %>       
    </div>
  </div>
  <%= paginate @projects %>
</div>