footer {
  background-color: $black;
  display: block;
  overflow: hidden;
  padding: 25px;
  bottom: 0;
  position: absolute;
  width: 100%;
  ul {
    display: table;
    float: left;
    font-family: "Open Sans";
    margin-left: 50px;
    li {
      font-size: 12px;
      line-height: 18px;
      a {
        color: rgb(149,149,149);
        &:hover {
          color: $primary-color;
        }
      }
    }
    &.social-list {
      li {
        a.social {
          height: rem-calc(32);
          line-height: rem-calc(32);
          margin: 0 10px;
          width: rem-calc(32);
          &.facebook  {background-image: url(asset_path("svg/facebook.svg"));}
          &.twitter  {background-image: url(asset_path("svg/twitter.svg"));}
          &.youtube  {background-image: url(asset_path("svg/youtube.png"));}
          &.instagram  {background-image: url(asset_path("svg/instagram.png"));}
          &.linkedin  {background-image: url(asset_path("svg/linkedin.png"));}
        }
      }
    }
    @include breakpoint(small only) {
      margin-left: 0;
      margin-bottom: 15px;
      margin-top: 15px;
      width: 100%;
    }
  }
}