#main-menu {
  position: fixed;
  overflow:hidden;
  width: 100%;
  z-index:11;
  &.transparent {
    background: #00000045;
  }
}
.top-bar-section.big {
  padding: 0 ;
  position: relative;
  ul {
    width:auto;
    &.left {
      position: inherit;
      z-index: 3;
    }
    li {
      background: transparent !important;
      display: inline-table;
      position:relative;
      a.logo { 
        background-image: url(asset_path("logo.png")) !important;
        background-position: left center !important;
        background-repeat: no-repeat !important;
        background-size: 185px !important;
        display: block;
        height: 60px;
        text-indent: -9999px;
        width: 195px !important;
      }  
    }
  }
}
.dropdown-menu {
  background: #000000cc;
  display: none;
  height:100% !important;
  left: rem-calc(0);
  min-height: 100%;
  overflow-y: scroll;
  padding: 0em;
  position: fixed;
  top: rem-calc(0);
  white-space: normal;
  width:100%;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 12px;
  }
   
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  .menu {
    display: block;
    left: 0;
    font-size: 24px;
    line-height: 1.25;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 64px;
    ul {
      font-size: 30px;
      letter-spacing: 1px;
      color: rgb(255,255,254);
      font-family: "Open Sans";
      font-weight: 300;
      text-align: center;
      li {
        background: transparent;
        box-sizing: border-box;
        display: inline-table;
        letter-spacing: 1px;
        padding: 0;
        text-transform: uppercase;
        position:relative;
        -webkit-box-sizing: border-box;
        width:100%;
        a {
          color: #fff;
          border-bottom: 1px solid $white;
          display: inline-block;
          font-size: 21px;
          line-height: 1;
          margin-bottom: 5px;
          padding: 0;
          text-transform: uppercase;
          &:hover, &.active {
            color:$primary-color;
            border-bottom-color: $primary-color;
          }
          @include breakpoint(small only) {
            font-size: 16px;
          }
          
        }
      }
    }
  }
} 
ul.social-list {
  li {
    a.social {
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem-calc(30 30);
      border-width: 0;
      display: inline-block;
      height: rem-calc(80);
      line-height: rem-calc(80);
      margin: 0 10px;
      width: rem-calc(32);
      &.facebook  {background-image: url(asset_path("svg/facebook.svg"));}
      &.twitter  {background-image: url(asset_path("svg/twitter.svg"));}
      &.youtube  {background-image: url(asset_path("svg/youtube.png"));}
      &.instagram  {background-image: url(asset_path("svg/instagram.png"));}
      &.linkedin  {background-image: url(asset_path("svg/linkedin.png"));}
    }
  }
}