* {outline:none;}
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 175px;
  @include breakpoint(small only) {
    padding-bottom: 295px;
  }
}
a {
  color:$primary-color;   
  webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
   transition: opacity .5s ease-in;
  &.secondary, &:hover {
    opacity: .8;
  }
}
.strong {
  font-family: Roboto;
  font-weight: bold;
}

.small-text-center {
  @include breakpoint(small only) {
    text-align: center;
  }
}

.font-10 {
  font-size:10px;
}
.font-12 {
  font-size:12px;
}
.font-13 {
  font-size:13px;
  @include breakpoint(small only) {
    font-size:11px;
  }
}
.font-14 {
  font-size:14px;
  @include breakpoint(small only) {
    font-size:12px;
  }
}
.font-15 {
  font-size:15px;
  @include breakpoint(small only) {
    font-size:12px;
  }
}
.font-16 {
  font-size:16px;
  @include breakpoint(small only) {
    font-size:14px;
  }
}
.font-18 {
  font-size:18px;
  @include breakpoint(small only) {
    font-size:16px;
  }
}
.font-20 {
  font-size:20px;
  @include breakpoint(small only) {
    font-size:17px;
  }
}
.font-24 {
  font-size:24px;
  @include breakpoint(small only) {
    font-size:18px;
  }
}
.font-32 {
  font-size:34px;
  @include breakpoint(small only) {
    font-size:28px;
  }
}
.font-36 {
  font-size:36px;
  @include breakpoint(small only) {
    font-size:30px;
  }
}
.font-70 {
  font-size:70px;
  @include breakpoint(small only) {
    font-size:50px;
  }
}
*[class*='font-'] {
  line-height: 1.75;
  @include breakpoint(small only) {
    line-height: 1.5;
  }
}
h1, p.heading {
  border-bottom: 2.5px solid $primary-color;
  color: $primary-color;
  display: inline-block;
  line-height:1.4;
  font-family: "Open Sans";
  font-weight: 300;
  text-transform: uppercase;
}
.button {
  margin: 0;
  line-height: 39px;
  padding: 0;
  &.custom {
     background-image: linear-gradient(to right, #f40008, #9c080d), linear-gradient(to right, #f1000b, #f48a00);
     font-family: Roboto;
     text-transform:uppercase;
     margin: 0;
  }
}
form {  
  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #767676;
      font-size: 14px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #767676;
      font-size: 14px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #767676;
      font-size: 14px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #767676;
      font-size: 14px;
    }
  }
}
.upper {text-transform: uppercase;}
.inline-list li {display: inline-block;}

.pagination {
  color: #000;
  display:table;
  font-family: "Open Sans";
  font-size: 18px;
  
  margin:20px auto;
  text-align: center;
  line-height: 24px;
  span {
    float: left;
    display: inline-block;
    padding: 0 5px;
    a {
      color: $dark-gray;
      &:hover {
        background:transparent;
        color:$primary-color;
      }
    }
    &.current {
      color: $primary-color;
    }
    &.first, &.last {
      display: none;
    }
    &.active {
      position: relative;
      &:before {
        background-color: $primary-color;
        bottom: -3px;
        content: '';
        height: 3px;
        left: 0;
        position:absolute;
        width:100%;
      }
      a {
        color: $primary-color;
        &:hover {
          //color: $primary-color;
        }
      }
    }
    &.next, &.prev {
      position: relative;
      a {
        font-size: 24px;
        line-height: 1;
      }
    }
    &.next {
      margin-left: 15px;
      position: relative;
    }
    &.prev {
      margin-right: 15px;
    }
    &.disabled {
      //display:none !important;
    }
  }
  @include breakpoint(small only) {
    .next { margin-left: 15px;}
    .prev { margin-right: 15px;}
  }
}