.categories-wrapper {
  overflow: hidden;
  .category {
    display: inline-block;
    height: 285px;
    position: relative;
    margin-bottom: 5px;
    a {
      &:hover { 
        color: $primary-color;
        span {
          text-decoration: underline;
        }
        .wallpaper {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
    .wallpaper {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: calc(100% - 5px);
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
    span {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 150px;
      line-height: 1.2;
      font-weight: bold;
    }
  }
}