.content-wrapper {
  .billboard.contacts {
    padding-bottom: 30px;
  }
}
.form-wrapper {
  background: $white;
  font-family: "Open Sans";
  padding-top:  30px;
  padding-bottom:  30px;
  overflow: hidden;
  p {color: $primary-color; padding-top: 5px;}
}