// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-main-image {
  background-image: url(asset_path('bg/home.jpg'));
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 250px);
  display: block;
  overflow: hidden;
  width: 100%;
  .image-wrapper {
    display: block;
    height: 100vh;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
    }
  }
}
.home-block-wrapper {
  background-color: $primary-color;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  i {
    line-height: 0.8;
    margin-right: 10px;
  }
  .ads-types {
    > div {
      margin-bottom: 15px;
      a {
        color: $white;
        display: inline-block;
        overflow: hidden;
        line-height: 55px;
        @include breakpoint(small only) {
          line-height: 35px;
        }
        div {
          display: contents;
          line-height: 1;
        }
      }
    }
  }
}
.buildings-img {max-width: 380px;}
.member-wrapper{
  overflow:visible !important;    
  top: 0 !important;
  padding-bottom: 120px;
  p.heading {
    position: absolute;
    bottom: 100%;
    margin: 0;
  }  
  .team-list {
    padding-bottom: 20px;
    padding-top: 20px;
    .member {
      position: relative;
      margin-bottom:5px;
      overflow: hidden;
      >div {
        margin-left: 2.5px; 
        margin-right: 2.5px;
        overflow: hidden;
      }
      .wallpaper{
        cursor: pointer;
        padding-top: 150%;
        transition: transform .5s .3s;
        &.main-block {
          padding-top: 50%;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      &:hover {
        .layer {
          bottom: 0;
        }
      }
      .layer {
        background-color: #00000045;
        bottom: -70px;
        color: $white;
        padding: 10px;
        position: absolute;
        width: calc(100% - 5px);
        webkit-transition: bottom .5s .3s ease-in;
        -moz-transition: bottom .5s .3s ease-in;
        -o-transition: bottom .5s .3s ease-in;
         transition: bottom .5s .3s ease-in;
      }
      @include breakpoint(small only) {
        .layer {
          bottom: 0;
        }
      }
    }
  }
}

.corp-wrapper {
  overflow:visible !important;    
  top: 0 !important;
  padding-bottom: 120px;
  p.heading {
    position: absolute;
    bottom: 100%;
    margin: 0;
  }
  ul, ol {margin-left: 20px;}  
}

.corp-memo-wrapper {
  display: block;
  padding: 50px 0;
  overflow: hidden;
  p {
    color: $white;
  }
  .item {
    margin-bottom: 30px;
    p {
      color: $primary-color;
      margin-bottom: 5px;
    }
    ul {
      color: #959595;
      margin-left: 18px;
      line-height: 1.4;
    } 
  }
}

.home-partners-list {
  min-height: 320px !important;
  padding: 100px 0;
  span {
    color: $white;
    display: block;
    height: 100px;
    line-height: 100px;
    width: 120px;
    > span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      height: auto;
    }
  }
  .flickity-brands {
    width: calc(100% - 120px);
    position:relative;
    overflow:hidden;
    .carousel-cell{
      padding-top:100px;
      display:inline-block;
      margin: 0  20px;
      width: 120px;
      background-size: contain;
    }
    img {
      max-width: 120px;
      max-height: 100px;
      width: auto;
      height: auto;
      top: 50%;
      transform: translate(0%, -50%);
      position:relative;
      float:left;
    }
  }
}