// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-form-wrapper {
  position: relative;
  .search-wrapper {
    background-color: #ff8e47;
    bottom: -50px;
    box-shadow: 0px -1px 12px 1px #797979;
    padding: 15px;
    position: absolute;
    right: 0.9375rem;
    width: 250px; 
    z-index: 3;
    span {color: $white}
    select, input, button {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding-top: 0;
      padding-bottom: 0;
    }
    @include breakpoint(small only) {
      position: relative;
      right: auto;
      width: 100%;
      margin-top: 30px;
      bottom: auto;
    }
  }
}
.google-map-wrapper {
  filter: grayscale(50%);
}