.content-wrapper {
  background-color: #050504;
  background-image: url(asset_path('bg/about.jpg'));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-family: "Open Sans";
  min-height: calc(100vh - 175px);
  padding-top: 100px;
  overflow:hidden;
  .billboard {
    background-color: #f7f2f0;
    padding-top: 30px;
    padding-bottom: 120px;
    position: relative;
    h1 {
      bottom: 100%;
      margin: 0;
      position: absolute;
    }
    > div {
      color: #6f6f6f;
      p {margin: 0;}
    }
    .ads-types {
      margin: 30px auto;
      color: #6f6f6f;
      > div {
        margin-bottom: 5px;
        padding-left: 2.5px;
        padding-right: 2.5px;
        > div{
          background-color: $white;
          height: 100%;
          padding:10px;
          overflow: hidden;
          a {
            color:#6f6f6f;
            line-height:55px;
            overflow:hidden;
            @include breakpoint(small only) {
              line-height: 35px;
            }
          }
          i {
            line-height: 0.8;
            margin-right: 10px;
          }
          p {
            display: block;
            width: 100%;
            overflow: hidden;
          }
        }
      }
    }
  }
  .news-list {
    background-color: $white;
    top: -90px;
    position: relative;
    box-shadow: 0px -1px 10px 0px $light-gray;
    display: table;
    overflow: hidden;
    width: 100%;
    .image-wrapper{
      margin-bottom: 20px;
      position: relative;
      padding-top: 50%;
      overflow: hidden;
      >img {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
      }
    }
    > div {
      color: rgb(99,99,99);
      overflow: hidden;
      .new-item{
        padding: 15px 15px 45px 15px;
        &:nth-child(odd) {
          background-color: $white;
        }
        &:nth-child(even) {
          background-color: #f7f2f0;
        }
        time {
          background-color: $primary-color;
          border-radius: 3px;
          color: $white;
          padding: 3px;
        }
        a.title {
          color: $primary-color;
          text-decoration: underline;
        }
        .description ul {
          padding-left: 20px;
        }
      }
    }
  }
  .technical {
    color: $white;
  }
  .pagination {
    overflow: hidden;
    position: relative;
    top: -90px;
  }
}
.wallpaper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25%;
}
.orbit-wrapper {
  .orbit-bullets {
    margin: 4px 0;
    width: 100%;
    button {
      background-color: $white;
      border-radius:0;
      height: 70px;
      margin: 0;
      overflow: hidden;
      padding:2px;
      width:calc(25% - 4px);  
      .bullet {
        border: 1px solid transparent;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:hover, &.is-active {
        .bullet{
          border-color: $primary-color;
        }
      }
    }
  }
}