.projects-wrapper {
  overflow: hidden;
  position:relative;
  top:-90px;
  .project {
    display: inline-block;
    height: 285px;
    position: relative;
    margin-bottom: 5px;
    &:nth-child(4n+1),&:nth-child(4n+4) {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
    &:nth-child(4n+2), &:nth-child(4n+3) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    &:hover {
      .overlay {
        display:block;
      }
    }
    .wallpaper {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: calc(100% - 5px);
    }
    .overlay {
      background: #33333333;
      color:$white;
      display: none;
      left: 0;
      line-height: 1.35;
      height: 100%;
      position: absolute;
      overflow: hidden;
      padding: 15px;
      width: 200px;
      > div {
        margin-bottom: 15px;
      }
    }
    a {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 150px;
      line-height: 1.2;
      font-weight: bold;
      &:hover { 
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
#ad-format-form {
  select, input, button {
    color:#6f6f6f;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }
}