<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <div class='small-12 column'>
        <%= content_tag :h1, @metum.title %>
      </div>
      <div class='small-12 categories-wrapper column'>
        <% @categories.each_with_index do |cat, i| %>
          <div class="<%= i<2 ? 'medium-6' : 'medium-4' %> small-12 float-left category">
            <%= link_to cat.path, class: 'upper font-18' do %>
              <div style="background-image:url('<%= asset_path(cat.picture(:normal)) %>')" class='wallpaper'></div>
              <%= content_tag :span, cat.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>