<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <div class='small-12 column'>
        <%= content_tag :h1, 'Възможности за реклама' %>
      </div>
      <div class='small-12 categories-wrapper column'>
        <% @category.partners.to_a.reverse.each do |partner| %>
          <div class="small-12 float-left category">
            <%= link_to partner, class: 'upper font-18' do %>
              <div style="background-image:url('<%= asset_path(partner.picture(:normal)) %>')" class='wallpaper'></div>
              <%= content_tag :span, partner.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>