<div class='content-wrapper'>
  <div class='billboard column'>
    <div class='row'>
      <div class='column'>
        <%= content_tag :h1, @metum.title %>
      </div>
      <div class='small-12 search-form-wrapper column'>
        <%= content_tag :div, raw(@metum.general_purpose_text1), class: 'small-12 medium-6 large-9 font-14' %>
        <div class='search-wrapper'>
          <%= content_tag :span, t('.ad_positions'), class: 'upper font-14 strong'%>
          <%= form_tag("/map", method: "get") do %>
            <% ad_types = [] %>
            <% 5.times{|i| ad_types << t(".ad_type_#{i}")} %>
            <%= select_tag(:ad_type, options_for_select(ad_types,params[:ad_type]), include_blank: true) %>
            <%= text_field_tag :name, params[:name], placeholder: t('.code') %>
            <%= submit_tag(t('.search'), class: 'small-6 button secondary font-14 strong') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='news-list'>
    <div class='row column'>
      <div class="gMap google-map-wrapper">
            <div id="gMapBox" class="gMapBox" style="width: 100%; height: 540px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;//maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 56, -30);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: 147px; top: -91px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 147px; top: 165px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 403px; top: -91px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 403px; top: 165px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 659px; top: -91px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 659px; top: 165px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 147px; top: 421px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 403px; top: 421px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 659px; top: 421px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -109px; top: 165px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -109px; top: 421px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -109px; top: -91px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 147px; top: -91px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 147px; top: 165px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 403px; top: -91px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 403px; top: 165px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 659px; top: -91px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 659px; top: 165px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 147px; top: 421px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 403px; top: 421px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 659px; top: 421px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -109px; top: 165px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -109px; top: 421px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -109px; top: -91px;"></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden; width: 770px; height: 420px;"><img src="//maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i18285&amp;2i11867&amp;2e1&amp;3u7&amp;4m2&amp;1u770&amp;2u420&amp;5m5&amp;1e0&amp;5sbg&amp;6sbg&amp;10b1&amp;12b1&amp;token=73895" style="width: 770px; height: 420px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="position: absolute; left: 147px; top: -91px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i72!3i46!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=39737" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 403px; top: -91px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i73!3i46!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=3238" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 403px; top: 165px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i73!3i47!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=56440" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 147px; top: 165px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i72!3i47!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=92939" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 659px; top: -91px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i74!3i46!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=97810" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 659px; top: 165px; transition: opacity 200ms ease-out;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i74!3i47!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=19941" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 147px; top: 421px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i72!3i48!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=15070" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 403px; top: 421px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i73!3i48!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=109642" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 659px; top: 421px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i74!3i48!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=73143" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -109px; top: 165px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i71!3i47!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=129438" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -109px; top: -91px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i71!3i46!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=76236" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -109px; top: 421px;"><img src="//maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i7!2i71!3i48!4i256!2m3!1e0!2sm!3i383076524!3m9!2sbg!3sBG!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=51569" draggable="false" alt="gmap" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div></div><div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 56, -30);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="//maps.google.com/maps?ll=42.463993,24.50409&amp;z=7&amp;t=m&amp;hl=bg&amp;gl=BG&amp;mapclient=apiv3" title="Кликнете, за да видите този сектор в Google Карти" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="//maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 235px; top: 120px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Картографски данни</div><div style="font-size: 13px;">Картографски данни ©2017 GeoBasis-DE/BKG (©2009), Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="//maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 315px; bottom: 0px; width: 301px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Картографски данни</a><span>Картографски данни ©2017 GeoBasis-DE/BKG (©2009), Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Картографски данни ©2017 GeoBasis-DE/BKG (©2009), Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 203px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="//www.google.com/intl/bg_BG/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Условия за ползване</a></div></div><div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="//maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Подаване на сигнал до Google за грешки в пътната карта или изображенията" href="//www.google.com/maps/@42.4639932,24.5040896,7z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Подаване на сигнал за грешка в картата</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; user-select: none; position: absolute; bottom: 69px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><div title="Увеличаване на мащаба" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="//maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><div title="Намаляване на мащаба" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="//maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Завъртане на картата на 90°" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img src="//maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="//maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div></div></div>
          </div>
          <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD9_YuxlDzztLBcSmSWrJIjxJfaAyZuIkk&libraries=geometry,places&amp;region=BG&amp;language=bg"></script>
          <script type="text/javascript">
            function initialize() {
              var input = document.getElementById('pac-input');
              var autocomplete = new google.maps.places.Autocomplete(input);
              autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  //window.alert("Няма намерени резултати за '" + place.name + "'");
                  return;
                }
                closest = find_closest_marker(place.geometry.location);
                window.map.setCenter(closest);
                window.map.setZoom(17);
              });
            }
            function selectCity(latLng){
              window.map.setCenter(latLng);
              window.map.setZoom(12);
            }
            function AdPosition(latLng){
              window.map.setCenter(latLng);
              window.map.setZoom(17);
            }
            jQuery(function() {
              google.maps.event.addDomListener(window, 'load', initialize);
              var locations = <%=raw @ad_positions %>;
              var mapOptions = {
                center: new google.maps.LatLng(42.70666,25.119324), //locations[0][1], locations[0][2]
                zoom: 7,
                scrollwheel: false,
                panControl : true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                mapTypeControlOptions: {
                      position: google.maps.ControlPosition.RIGHT_CENTER
                    },
                panControl: true,
                scaleControl: false,
                streetViewControl: false
              };
              window.map = new google.maps.Map(document.getElementById("gMapBox"), mapOptions);
              window.markers = new Array();
              var infowindow = new google.maps.InfoWindow({zIndex: 9999});
              for (i=0; i<locations.length; i++) {
                window.markers[locations[i][3]] = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: window.map,
                  title:locations[i][0],
                  clickable: true,
                  flat: false,
                  icon: "<%= asset_path 'pins/5.png' %>"
                });
                google.maps.event.addListener(window.markers[locations[i][3]], 'click', (function(marker, i) {
                  return function() {
                    infowindow.setContent('<table style="width:100%"><tr><td>'
                      +"<img src='" + locations[i][7] + "' style='margin:auto;display:block;'/></td></tr><tr><td>"
                      +'<b>Рекламен канал</b>: '+locations[i][6]+'<br/>'
                      +'<b>Код</b>: '+locations[i][0] + '(' + locations[i][1] + ' ' + locations[i][2] + ')' +'<br/>'
                      +'<b>Адрес</b>: '+locations[i][4]+'<br/>'
                      +'<b>Тип</b>: '+locations[i][5]+'<br/>'
                      +'</td></td></table>');
                    infowindow.open(map, marker);
                  }
                })(window.markers[locations[i][3]], i));
              }
              if (window.location.hash === "#closest") {
                getCurrentLocation();
              }
              if (GetURLParameter('search') != '') {
                var service = new google.maps.places.PlacesService(window.map);
              }
              //window.map.panTo(window.markers[shop].getPosition());
            });
    
            function getCurrentLocation(){
              var infowindow = new google.maps.InfoWindow({zIndex: 9999});
              var startPos;
              var pos;
              var closest;
              var geoSuccess = function(position) {
                startPos = position;
                pos = new google.maps.LatLng(parseFloat(startPos.coords.latitude), parseFloat(startPos.coords.longitude));
                closest = find_closest_marker(pos);
                window.map.setCenter(closest);
                window.map.setZoom(16);
                for (i=0; i<locations.length; i++) {
                  window.markers[locations[i][3]] = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: window.map,
                    title:locations[i][0],
                    clickable: true,
                    flat: false,
                    icon: "<%= asset_path 'location.png'%>"
                  });

                  google.maps.event.addListener(window.markers[locations[i][3]], 'click', (function(marker, i) {
                    return function() {
                      infowindow.setContent('<table style="width:100%"><tr><td>'
                        +"<img src='" + locations[i][7] + "' style='margin:auto;display:block;'/></td></tr><tr><td>"
                        +'<b>Рекламен канал</b>: '+locations[i][6]+'<br/>'
                        +'<b>Код</b>: '+locations[i][0] + '(' + locations[i][1] + ' ' + locations[i][2] + ')' +'<br/>'
                        +'<b>Адрес</b>: '+locations[i][4]+'<br/>'
                        +'<b>Тип</b>: '+locations[i][5]+'<br/>'
                        +'</td></td></table>');
                      infowindow.open(map, marker);
                    }
                  })(window.markers[locations[i][3]], i));
                }
              };
              navigator.geolocation.getCurrentPosition(geoSuccess);
            }
            function rad(x) {return x*Math.PI/180;}
            function find_closest_marker(pos) {
              var res = window.markers.reduce(function (prev, curr) {
                var cpos = google.maps.geometry.spherical.computeDistanceBetween(pos, curr.position);
                var ppos = google.maps.geometry.spherical.computeDistanceBetween(pos, prev.position);
                return cpos < ppos ? curr : prev;
              }).position
              return res;
            }
            function GetURLParameter(sParam) {
              var sPageURL = window.location.search.substring(1);
              var sURLVariables = sPageURL.split('&');
              for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam){
                  return sParameterName[1];
                }
              }
            }
          </script>
    </div>
  </div>
</div>