<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<%= render partial: 'layouts/shared/head' %>
<body>
  <%= render partial: 'layouts/shared/header' %>
  <%= yield %>
  <%= render partial: 'layouts/shared/footer' %>
</body>
</html>
